nav, footer {
  width: 100%;
  background-color: orange;
}
nav ul{
margin:0;
height: 40px;
padding-top: 40px;
  display: inline-block;
}
nav li{
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
nav li a{
  text-decoration: none;
}

nav ul:hover{
  background-color: white;
  color: orange;
}
section, aside{
  display: inline-block;
}
aside{
  width: 14%;
}
section{
  width: 70%;
}
.murray-img{
  width: 48%
  margin:0:
  display:block;
}
